[Unit]
Description=
Documentation=https://discourse.joplinapp.org/t/joplin-server-pre-release-is-now-available/13605
After=network.target

[Service]
Type=simple
User=joplin
ExecStart=/opt/joplin/joplin.sh run
WorkingDirectory=/opt/joplin/

Restart=on-failure

[Install]
WantedBy=multi-user.target
